@import './base.css';

#app {
  max-width: 1440px;
  margin: 0 1rem;
  padding: 1rem;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 900;
}

a {
  color: inherit;
  text-decoration: none;
}
